* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body { 
    background-color: rgb(162, 71, 247);
}

main {
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(39, 39, 39)
    

}